# Configurable variables

# User - the non root configured user
CONFIG_USER="labo"

# Rfkill - block wireless devices
CONFIG_INIT_RFKILL=true         # true/false
CONFIG_RFKILL_INTERFACES="wlan" # comma-separated list

# Journal - limit size
CONFIG_INIT_JOURNAL_LIMIT=true   # true/false
CONFIG_JOURNAL_SYSTEM_MAX="250M" # size string
CONFIG_JOURNAL_FILE_MAX="50M"    # size string

# RAM - set swappiness
CONFIG_INIT_RAM_SWAPPINESS_CUSTOMIZE=true # true/false
CONFIG_RAM_SWAPPINESS_VALUE="10"          # integer or integer string

# Pacman - set mirrors
CONFIG_INIT_PACMAN_SET_MIRROR_COUNTRIES=true                                                          # true/false
CONFIG_PACMAN_MIRRORS_COUNTRIES="Italy,Global,Germany,Switzerland,Czechia,France,Netherlands,Austria" # comma-separated list
# Pacman - enable colored output
CONFIG_INIT_PACMAN_ENABLE_COLORS=true # true/false
# Pacman - install packages
CONFIG_INIT_PACMAN_INSTALL_PACKAGES=true                                                                                                                             # true/false                                                                                                                        # true/false
CONFIG_PACMAN_PACKAGES="pacman-contrib,htop,git,unzip,docker,docker-compose,python-pip,bluez,bluez-utils,base-devel,linux-rpi4-mainline,linux-rpi4-mainline-headers" # comma-separated list
# Pacman - cleanup
CONFIG_INIT_PACMAN_CLEANUP=true # true/false

# Rpi - EEPROM update branch
CONFIG_INIT_RPI_EEPROM_BRANCH_CHANGE=true # true/false
CONFIG_RPI_EEPROM_UPDATE_BRANCH="stable"  # string, possible values: critical, stable, beta
# Rpi - EEPROM update check
CONFIG_INIT_RPI_EEPROM_UPDATE_CHECK=true # true/false
# Rpi - Overclock
CONFIG_INIT_RPI_OVERCLOCK_ENABLE=true # true/false
CONFIG_RPI_OVERCLOCK_OVER_VOLTAGE="6" # integer or integer string
CONFIG_RPI_OVERCLOCK_ARM_FREQ="2000"  # integer or integer string
CONFIG_RPI_OVERCLOCK_GPU_FREQ="500"   # integer or integer string

# User - add to groups
CONFIG_INIT_USER_ADD_TO_GROUPS=true            # true/false
CONFIG_USER_GROUPS_TO_ADD="docker,tty,uucp,lp" # comma-separated list
# User - sudo without password
CONFIG_INIT_USER_SUDO_WITHOUT_PWD=true # true/false

# Nano - enable syntax highlighting
CONFIG_INIT_NANO_ENABLE_SYNTAX_HIGHLIGHTING=true # true/false

# Network - optimizations
CONFIG_INIT_NETWORK_OPTIMIZATIONS=true # true/false
# Network - enable routing
CONFIG_INIT_NETWORK_ROUTING_ENABLE=true # true/false
# Network - MACVLAN host <-> docker bridge
CONFIG_INIT_NETWORK_MACVLAN_SETUP=true            # true/false
CONFIG_NETWORK_MACVLAN_NAME="macvlan_labo"        # string
CONFIG_NETWORK_MACVLAN_PARENT="end0"              # string, find it via 'ip addr' command
CONFIG_NETWORK_MACVLAN_STATIC_IP="192.168.21.225" # string, IPv4 ip
CONFIG_NETWORK_MACVLAN_RANGE="192.168.21.224/27"  # string, IPv4 subnet, CIDR notation
CONFIG_NETWORK_MACVLAN_IPV6_DISABLE=true          # true/false
CONFIG_NETWORK_MACVLAN_SUBNET="192.168.21.0/24"   # string, IPv4 subnet, CIDR notation, needed for docker macvlan
CONFIG_NETWORK_MACVLAN_GATEWAY="192.168.21.1"     # string, IPv4 ip, needed for docker macvlan
# Network - IPv6 Disable
CONFIG_INIT_NETWORK_IPV6_DISABLE=true # true/false

# SSD - enable trim
CONFIG_INIT_SSD_TRIM_ENABLE=true # true/false
CONFIG_SSD_TRIM_VENDOR="04e8"    # string, find it via 'lsusb' command
CONFIG_SSD_TRIM_PRODUCT="61f5"   # string, find it via 'lsusb' command
# SSD - FS optimizations
CONFIG_INIT_SSD_OPTIMIZATIONS=true # true/false

# NTP - custom config
CONFIG_INIT_NTP_CUSTOMIZATION=true                            # true/false
CONFIG_NTP_SERVERS="192.268.21.1"                             # space-separated list of NTP server host names or IP addresses, see https://man.archlinux.org/man/timesyncd.conf.5.en for other options
CONFIG_NTP_FALLBACK_SERVERS="193.204.114.232 193.204.114.233" # space-separated list of NTP server host names or IP addresses, see https://man.archlinux.org/man/timesyncd.conf.5.en for other options

# SSH - add keys
CONFIG_INIT_SSH_KEYS_ADD=true                                                                          # true/false
CONFIG_SSH_KEY_USER="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGXr/1LjYyY2pNCxJr0ETQa312bcKVe/UatO72rfShxn" # string, SSH public key (this is a dummy key)
CONFIG_SSH_KEY_ROOT="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGXr/1LjYyY2pNCxJr0ETQa312bcKVe/UatO72rfShxn" # string, SSH public key (this is a dummy key)
# SSH - add hosts
CONFIG_INIT_SSH_HOSTS_ADD=true                                                                   # true/false
CONFIG_SSH_HOSTS="github.com,gitlab.com,bitbucket.org,ssh.dev.azure.com,vs-ssh.visualstudio.com" # comma-separated list
# SSH - Hardening
CONFIG_INIT_SSH_HARDENING=true # true/false

# Services - bluetooth
CONFIG_INIT_SRV_BT_ENABLE=true # true/false
# Services - docker
CONFIG_INIT_SRV_DOCKER_ENABLE=true # true/false

# DNS
CONFIG_INIT_DNS_CUSTOMIZATION=true # true/false
CONFIG_DNS_UPLINK_MODE=true        # true/false
CONFIG_DNS_SRVS="8.8.8.8"          # space-separated list of IPv4 and IPv6 addresses, see https://man.archlinux.org/man/resolved.conf.5.en for other options
CONFIG_DNS_FALLBACK_SRVS="8.8.4.4" # space-separated list of IPv4 and IPv6 addresses, see https://man.archlinux.org/man/resolved.conf.5.en for other options
CONFIG_DNS_DNSSEC="no"             # string, takes a boolean (yes/no) or "allow-downgrade", see https://man.archlinux.org/man/resolved.conf.5.en for other options
CONFIG_DNS_STUB_LISTENER="no"      # string, takes a boolean (yes/no) or one of "udp" and "tcp" see https://man.archlinux.org/man/resolved.conf.5.en for other options

# Docker - login
CONFIG_INIT_DOCKER_LOGIN=true # true/false
# Docker - custom bridge network
CONFIG_INIT_DOCKER_NETWORK_ADD_CUSTOM_BRIDGE=true      # true/false
CONFIG_DOCKER_NETWORK_CUSTOM_BRIDGE_NAME="bridge_labo" # string
# Docker - add MACVLAN network
CONFIG_INIT_DOCKER_NETWORK_ADD_MACVLAN=true       # true/false
CONFIG_DOCKER_NETWORK_MACVLAN_NAME="macvlan_labo" # true/false

# Backup - restore
CONFIG_INIT_BACKUP_RESTORE=false                        # true/false
CONFIG_BACKUP_FILE_PATH="${HOME_USER_D}/backup.tar.gz" # string, complete file path

# Docker - start compose
CONFIG_INIT_DOCKER_COMPOSE_START=false                                      # true/false
CONFIG_DOCKER_COMPOSE_FILE_PATH="${HOME_USER_D}/docker/docker-compose.yml" # string, complete file path
